accessible-pygments==0.0.5
alabaster==0.7.16
babel==2.16.0
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
comtypes==1.4.6
docutils==0.20.1
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pillow==10.4.0
pydata-sphinx-theme==0.15.4
PyGetWindow==0.0.9
Pygments==2.18.0
PyRect==0.2.0
pywin32==308
pywinauto==0.6.8
requests==2.32.3
rsmessages==0.0.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==7.4.7
sphinx-copybutton==0.5.2
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-youtube==1.4.1
typing_extensions==4.12.2
urllib3==2.2.2
toml==0.10.2